@import "../../styles/colors.scss";
@import "../../styles/form.scss";

.reset {
  &_wrapper {
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    @media screen and (min-width: 600px) {
      padding: 100px 30px;
    }
  }

  &_title {
    margin-bottom: 0;
    padding-bottom: 15px;
    text-align: center;
    color: $blue;
    @media screen and (min-width: 768px) {
      font-size: 34px;
    }
  }

  h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid $alt-grey;
    text-align: center;
  }

  &_subtext {
    margin: 0.5rem auto;
    font-size: 16px;
  }
}
